.add-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10%;
}
  
.add-container .mat-form-field {
    width: 100%;
}

.add-container button {
    width: 30%;
    margin: 10px auto;
}

.alert-danger {
    background-color: #f44336; /* Red */
}

.alert{
    width: 50%;
    font-size: 12px;
    cursor: default;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.alert strong {
    font-size: 14px;
}

table {
    width: 100%;
}