<mat-card class="add-container">
    <h3>Add Bill</h3>

    <form>
        <mat-form-field>
            <input matInput type="text" placeholder="Name" name="name" maxlength="200" [(ngModel)]="bill.name" required />
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Value" name="value" [(ngModel)]="bill.value" required />
        </mat-form-field>
            
        <mat-form-field>
            <input matInput type="date" placeholder="Due Date" name="dueDate" [(ngModel)]="bill.dueDate" required />
        </mat-form-field>

        <mat-form-field>
            <input matInput type="date" placeholder="Payment Date" name="paymentDate" [(ngModel)]="bill.paymentDate" required />
        </mat-form-field>

        <div class="alert alert-danger" *ngIf="hasErrors">
            <strong>Error! Unable to add bill.</strong><br/>
            <u>{{error}}</u>
        </div>

        <button mat-raised-button color="primary" type="button" (click)="add()">Add Bill</button>
    </form>
</mat-card>

<h3>Bills registered:</h3>

<mat-spinner *ngIf="isLoading"></mat-spinner>


<table mat-table #table [dataSource]="bills" class="mat-elevation-z8" *ngIf="!isLoading">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let bill">{{bill.name}}</td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Due Date</th>
        <td mat-cell *matCellDef="let bill">{{bill.dueDate}}</td>
    </ng-container>

    <ng-container matColumnDef="paymentDate">
        <th mat-header-cell *matHeaderCellDef>Payment Date</th>
        <td mat-cell *matCellDef="let bill">{{bill.paymentDate}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let bill">{{bill.value}}</td>
    </ng-container>

    <ng-container matColumnDef="correctedValue">
        <th mat-header-cell *matHeaderCellDef>Corrected Value</th>
        <td mat-cell *matCellDef="let bill">{{bill.correctedValue}}</td>
    </ng-container>

    <ng-container matColumnDef="delayedDays">
        <th mat-header-cell *matHeaderCellDef>Delayed Days</th>
        <td mat-cell *matCellDef="let bill">{{bill.delayedDays}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>